@page
@model prism_trust_foundation.Pages.Events.EventListModel
@{
    ViewData["Title"] = "List of Events";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<h1 class="display-4">@ViewData["Title"]</h1>


<div class="container-fluid">
    <div class="container mx-auto mt-4">
        <div class="row">
            @if (Model.EventList == null){
                <div>No event currently</div>
            }
            else
            {
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th style="background-color: lightgray;"></th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.EventList[0].EventName)</th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.EventList[0].Description)</th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.EventList[0].EventType)</th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.EventList[0].EventDate)</th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.EventList[0].EventVenue)</th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.EventList[0].IsActive)</th>
                            <th style="background-color: lightgray;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.EventList)
                        {
                            <tr>

                                <td><img src="item.ImageURL" class="card-img-top" alt="*No Event Image*"> </td>
                                <td>@item.EventName</td>
                                <td>@item.Description</td>
                                <td>@item.EventType</td>
                                <td>@item.EventDate</td>
                                <td>@item.EventVenue</td>
                                @if (item.IsActive == true)
                                {
                                    <td>Event Status: Active</td>
                                }
                                @if (item.IsActive == false)
                                {
                                    <td>Event Status: Inactive</td>
                                }

                                <td>
                                <a asp-page="/Events/TimeslotBooking" asp-route-id="@item.EventId" class="btn mr-2"><i class="fas fa-link"></i> Book a Timeslot</a>
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    @if (Model.EventList == null)
    {
        <div>
            No events currently
        </div>
    }

    <!-- Page Heading -->


</div>
