@page
@model prism_trust_foundation.Pages.DonationRecipient.reqItemsModel
@{
    ViewData["Title"] = "Request Items";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Item Request</title>
</head>
<body>

    @if (Model.Products == null)
    {

        <div>Out of stock!</div>


    }
    else{
    <h3>Product List</h3>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr align="center">
                <td>@product.Id</td>
                <td>@product.Name</td>
              
                <td>
                    <a asp-page="Index" asp-page-handler="buynow" asp-route-id="@product.Id">Buy Now</a>
                </td>
            </tr>
        }
    </table>
            }

        @if(Model.MyCart == null){




        }
        else{
        <table border="1">
            <tr>
                
                <th>Item Name</th>

                <th>Quantity </th>
                
                    </tr>
            @foreach (var item in Model.MyCart)
            {
                
                <tr align="center">
                    <td>@item.productId</td>
                    

                    <td>@Model.FindbyId(item.productId).Name</td>
                    
                    <td>@item.quantity</td>
                    
                    <td align="center">
                        <a asp-page="cart" asp-page-handler="delete" asp-route-id="@item.productId">x</a>
                    </td>

                    

                </tr>
            }
           
            </table>
        <a asp-page="reqItems" asp-page-handler="submitreq" asp-route-id="1">Submit</a>
        }

    

</body>
</html>