@page
@model prism_trust_foundation.Pages.Admin.Timeslots.TimeslotListModel
@{
    
}
<h1 class="display-4" style="text-align:center;">Current Timeslots created</h1>


<div class="container">
    <div class="card card-body">
        
        
                @if(Model.TimeslotsList.Count <= 0)
                {
                    
                    <div>No Timeslots for this event currently</div>

            <a class="btn btn-secondary ms-2" asp-page="/Admin/Timeslots/AddTimeslot" asp-route-id="@Model.Target">Add Timeslot</a>
                }
                else
                {
                    
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th style="background-color: lightgray;"></th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.TimeslotsList[0].Shift_Start)</th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.TimeslotsList[0].Shift_End)</th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.TimeslotsList[0].Shift_Type)</th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.TimeslotsList[0].Shift_Quantity)</th>
                            <th style="background-color: lightgray;">@Html.DisplayNameFor(model => model.TimeslotsList[0].EventId)</th>
                            <th style="background-color: lightgray;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TimeslotsList)
                        {
                        <tr>

                            <td></td>
                            <td>@item.Shift_Start</td>
                            @*<td>@item.Coupon_Name</td>*@
                            <td>@item.Shift_End</td>
                            <td>@item.Shift_Type</td>
                            <td>@item.Shift_Quantity</td>
                            <td>@item.EventId</td>
                            <td>
                                <a asp-page="/Admin/Timeslots/UpdateTimeslot" asp-route-id="@item.TimeslotId" class="btn mr-2"> Edit Event</a>
                                @*<form method="post">
                                    <a class="btn btn-primary savo" asp-page="/CouponAdmin/CouponEdit" asp-route-id="@item.CouponId">View</a>

                                    @*<div asp-validation-summary="All" class="text-danger"></div>*@


                                @*<div class="AddPopUp">
                                        <input class="form-control" asp-for="MyCoupon.CouponId" type="hidden" value="@item.CouponId" />
                                        <a class="btn btn-primary savodel" data-bs-toggle="modal" data-bs-target="#MyPopUp_@item.CouponId">Delete</a>
                                    </div>

                                    <div class="modal fade" id="MyPopUp_@item.CouponId" role="alert">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <h4>Are you sure you want to delete coupon: @item.CouponId</h4>
                                                    <br>
                                                    <a class="btn btn-secondary poppy" href="/CouponAdmin/CouponRead">Cancel</a>
                                                    <input class="form-control" asp-for="MyCoupon.CouponId" type="hidden" value="@item.CouponId" />
                                                    <input type="submit" value="Delete" class="btn btn-primary savodelconfirm" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>*@
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
                    }
                
        
    </div>
</div>